In [5]:
import json
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [6]:
json_file = "2005_codes.json"
codes_05 = pd.read_json(json_file)

In [7]:
import json

with open('2005_codes.json', 'r') as json_file:
    json_object = json.load(json_file)

# print(json.dumps(json_object, indent=1, sort_keys = False))

In [8]:
json_object["resident_status"]

{'1': 'RESIDENTS',
 '2': 'INTRASTATE NONRESIDENTS',
 '3': 'INTERSTATE NONRESIDENTS',
 '4': 'FOREIGN RESIDENTS'}

In [9]:
data = {'1': 'RESIDENTS',
 '2': 'INTRASTATE NONRESIDENTS',
 '3': 'INTERSTATE NONRESIDENTS',
 '4': 'FOREIGN RESIDENTS'}
status_df = pd.DataFrame.from_dict(data, orient='index',
                       columns=['resident_status'])

status_df = status_df.reset_index()

status_df = status_df.astype({"index": int})

status_df

   index          resident_status
0      1                RESIDENTS
1      2  INTRASTATE NONRESIDENTS
2      3  INTERSTATE NONRESIDENTS
3      4        FOREIGN RESIDENTS

In [10]:
json_object['place_of_death_and_decedents_status']

{'1': 'Hospital, clinic or Medical Center',
 '2': 'Hospital, Clinic or Medical Center',
 '3': 'Hospital, Clinic or Medical Center',
 '4': 'Decedent’s home',
 '5': 'Hospice facility',
 '6': 'Nursing home/long term care',
 '7': 'Other',
 '9': 'Place of death unknown'}

In [11]:
data = {'1': 'Hospital, clinic or Medical Center',
 '2': 'Hospital, Clinic or Medical Center',
 '3': 'Hospital, Clinic or Medical Center',
 '4': 'Decedent’s home',
 '5': 'Hospice facility',
 '6': 'Nursing home/long term care',
 '7': 'Other',
 '9': 'Place of death unknown'}

place_df = pd.DataFrame.from_dict(data, orient='index',
                       columns=['place_of_death'])

place_df = place_df.reset_index()

place_df = place_df.astype({"index": int})

place_df

   index                      place_of_death
0      1  Hospital, clinic or Medical Center
1      2  Hospital, Clinic or Medical Center
2      3  Hospital, Clinic or Medical Center
3      4                     Decedent’s home
4      5                    Hospice facility
5      6         Nursing home/long term care
6      7                               Other
7      9              Place of death unknown

In [12]:
json_object["manner_of_death"]

{'1': 'Accident',
 '2': 'Suicide',
 '3': 'Homicide',
 '4': 'Pending investigation',
 '5': 'Could not determine',
 '6': 'Self-Inflicted',
 '7': 'Natural',
 'Blank': 'Not specified'}

In [13]:
data = {'1': 'Accident',
 '2': 'Suicide',
 '3': 'Homicide',
 '4': 'Pending investigation',
 '5': 'Could not determine',
 '6': 'Self-Inflicted',
 '7': 'Natural'}
manner_df = pd.DataFrame.from_dict(data, orient='index',
                       columns=['manner_of_death'])

manner_df = manner_df.reset_index()

manner_df = manner_df.astype({"index": int})

manner_df

   index        manner_of_death
0      1               Accident
1      2                Suicide
2      3               Homicide
3      4  Pending investigation
4      5    Could not determine
5      6         Self-Inflicted
6      7                Natural

In [14]:
json_object["method_of_disposition"]

{'B': 'Burial', 'C': 'Cremation', 'O': 'Other', 'U': 'Unknown'}

In [15]:
data = {'B': 'Burial', 'C': 'Cremation', 'O': 'Other', 'U': 'Unknown'}

method_df = pd.DataFrame.from_dict(data, orient='index',
                       columns=['method_of_disposition'])

method_df = method_df.reset_index()

method_df

  index method_of_disposition
0     B                Burial
1     C             Cremation
2     O                 Other
3     U               Unknown

In [16]:
# Connect to local database
rds_connection_string = f"postgres:{password}@localhost:5432/etl_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [17]:
status_df.to_sql(name='status_key', con=engine, if_exists='replace', index=False)

place_df.to_sql(name='place_key', con=engine, if_exists='replace', index=False)

manner_df.to_sql(name='manner_key', con=engine, if_exists='replace', index=False)

method_df.to_sql(name='method_key', con=engine, if_exists='replace', index=False)